#navbar {
    width: 100%;
    margin-top: 20px;
}

.top-banner-links {
    margin-left: 15px;
    text-decoration: none;
    color: rgb(6, 8, 8);
}
#top-banner-links-gmail {
    text-decoration: none;
    color: rgb(6, 8, 8);
    margin-left: 280px;
}

#top-banner-links-images {
    text-decoration: none;
    color: rgb(6, 8, 8);
    margin-left: 15px;

}

#more-apps-icon {
    width: 25px;
    padding-left: 30px;
}

#account-icon {
    height: 25px;
    padding-left: 30px;
}

#google {
    padding-top: 35%;
    padding-left: 35%;
}

#bar {
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    
}

.searchbar{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
  }

#bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;

}

#search-icon {
    margin-top: 15px;
    margin-left: 10px;
    float: left;
}

#mic-icon {
    margin-top: 15px;
}

#btn-div {
}

#btns-google {
    border: none;
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-left: 200px;
    background-color: #f5f0f0;
    float: left;


}

#btns-lucky {
    border: none;
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-left: 400px;
    background-color: #f5f0f0;
    
}